.recipe-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #64dd17;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 11px 15px -7px #000000, 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.recipe-card {
  margin: 10px;
  background-color: #041827;
  border-radius: 20px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 1),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.mat-card-header {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-auto-columns: min-content;
}

.recipe-header-info {
  display: flex;
  flex-direction: row;
}

.recipe-header-info-img {
  height: 1rem;
  margin: 0 0.3rem 0 1rem;
}

.recipe-more-info-button {
  background-color: #2d3e4f;
  color: white;
  justify-self: end;
}

.recipe-img {
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 50%;
  border-top-left-radius: 50%;
}

.recipe-img img {
  height: 100%;
}

.mat-card {
  color: white;
  font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial,
    sans-serif;
}

.mat-card-title {
  font-weight: 700;
}

.recipe-card-full-content {
  display: flex;
  flex-direction: row;
}

.recipe-card-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-evenly;
}

.used-unused-missed-ingredients {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.used-unused-missed-text {
  margin-right: 7px;
}

.used-ingredients-chip {
  background-color: #1565c0;
  color: white;
}

.unused-ingredients-chip {
  background-color: #ffb300;
  color: black;
}

.missed-ingredients-chip {
  background-color: #c62828;
  color: white;
}

.none-chip {
  background-color: #263238;
  color: white;
}
